[Desktop Entry]
Version=1.0
Type=Application
Name=Install NovaOS
Comment=Install NovaOS to your hard drive
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;
StartupNotify=true
